VITE_API_BASE_URL=https://shammah-realestate-agency.onrender.com



SUPABASE_URL=https://beagmgmrsmfovardrshc.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlYWdtZ21yc21mb3ZhcmRyc2hjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDE5NDk4MSwiZXhwIjoyMDg1NzcwOTgxfQ.mnxgPMXgdzo-xCV6TiNZiPurVOsyPU4IQD2FNY4L0ps
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlYWdtZ21yc21mb3ZhcmRyc2hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxOTQ5ODEsImV4cCI6MjA4NTc3MDk4MX0.RNctVYR6OHtCrrKczmzDPChflD0EgBoHVr2ZamjDWjo
